:root {
    color-scheme: light dark;
    --content-width: min(1040px, 100vw);
}

main {
    counter-reset: headings2;

    h1 {
        font-size: 3rem;
        line-height: 2.2rem;
        font-weight: 800;
        margin: {
            top: 2rem;
            bottom: 1rem;
        }
    }

    h2 {
        font-size: 2.5rem;
        color: rgb(var(--ctp-lavender));
        line-height: 2rem;
        font-weight: 800;
        border-bottom: 1px solid currentColor;
        padding: {
            top: 0.5rem;
            bottom: 1rem;
        }
        margin: {
            top: 4rem;
            bottom: 2rem;
        }
        counter-reset: headings3;
        &::before {
            content: counter(headings2) ". ";
            counter-increment: headings2;
        }
        display: block;
        position: sticky;
        top: 0;
        background-color: rgb(var(--ctp-base));
        z-index: 10;
    }

    h3 {
        font-size: 2rem;
        color: rgb(var(--ctp-lavender));
        line-height: 1.5rem;
        font-weight: 700;
        margin: {
            top: 4rem;
            bottom: 1rem;
        }
        counter-reset: headings4;
        &::before {
            content: counter(headings2) "." counter(headings3) ". ";
            counter-increment: headings3;
        }
    }

    h4 {
        font-size: 1.5rem;
        color: rgb(var(--ctp-lavender));
        line-height: 1.25rem;
        font-weight: 700;
        margin: {
            top: 4rem;
            bottom: 1rem;
        }
        &::before {
            content: counter(headings2) "." counter(headings3) "." counter(headings4) ". ";
            counter-increment: headings4;
        }
    }

    p {
        text-wrap: pretty;
        margin: {
            top: 1rem;
            bottom: 1rem;
        }
    }

    a {
        text-decoration: underline;
        &:hover {
            color: rgb(var(--ctp-mauve));
        }
    }

    code:not(pre > code) {
        font-family: "JetBrains Mono", "Fira Code", monospace;
        font-size: 0.9em;
        background-color: #11111b;
        color: #cdd6f4;
        padding: 0.2rem 0.4rem;
        border-radius: 5px;
    }

    table.border.border-ctp-overlay0 {
        th,
        td {
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgba(var(--ctp-overlay0), var(--tw-border-opacity));
        }
    }

    .memory {
        display: block;
        position: relative;
        width: calc(var(--content-width) / 20);
        height: calc(var(--content-width) / 20);
        background-color: rgb(var(--ctp-subtext0));
    }
}
