---
import Layout from "../layouts/Layout.astro"
import { pub } from "../script/config"
---

<Layout title="Übersicht">
    <h2>Wann ist die App langsam?</h2>
    <ul class="list-disc pl-4">
        <li><a class="p-2 text-lg" href={pub("build_and_startup")}>Build</a></li>
        <li><a class="p-2 text-lg" href={pub("./build_and_startup")}>Startup</a></li>
        <li><a class="p-2 text-lg" href={pub("runtime")}>Runtime</a></li>
    </ul>
</Layout>
