---
import { Benchmark } from "../components/react/Benchmark"
import Layout from "../layouts/Layout.astro"
import { pub } from "../script/config"
import LnCache from "../components/LnCache.astro"
import StackVsHeap from "../components/StackVsHeap.astro"
---

<Layout title="Runtime">
    <h2>Profiler</h2>
    <p>
        Ein Profiler ist ein Werkzeug, das Software analysiert, um zu sehen, wie effizient sie l채uft. Es misst, wie viel
        Zeit und Ressourcen verschiedene Teile des Codes verbrauchen. Das hilft Entwicklern zu verstehen, welche Teile
        des Programms verbessert werden m체ssen, um die Gesamtleistung zu steigern.
    </p>
    <h3>IntelliJ</h3>
    <video src={pub("/video/intellij-profiler.webm")} muted controls class="mx-auto aspect-auto w-full max-w-3xl"
    ></video>
    <h2>Flame Graph</h2>
    <p>
        Ein Flame Graph ist ein visuelles Werkzeug, das verwendet wird, um die Leistung eines Programms zu analysieren,
        insbesondere um zu sehen, welche Teile des Codes die meiste Zeit in Anspruch nehmen.
    </p>
    <p>
        Ein Flame Graph besteht aus einer Reihe von farbigen Rechtecken, die in Schichten 체bereinander gestapelt sind.
        Jedes Rechteck repr채sentiert eine Funktion oder Methode, die in deinem Programm aufgerufen wird. Die Breite
        eines Rechtecks zeigt an, wie viel Zeit diese Funktion im Vergleich zu anderen Funktionen in Anspruch nimmt. Je
        breiter das Rechteck, desto mehr Zeit wird in dieser Funktion verbracht.
    </p>
    <Benchmark client:visible client:only="react" />

    <h2>Contiguous Memory</h2>
    <LnCache />
    <h2>Stack & Heap</h2>
    <StackVsHeap />
    <h2>Daten&shy;kompression</h2>
    <h2>Syscalls</h2>
    <h2>Exceptions</h2>
    <h2>Polymorphie</h2>
</Layout>
