---
export type Props = {
    href: string
    class?: string
}

const external = Astro.props.href.startsWith("http")
---

{
    external ? (
        <a
            class:list={["underline hover:text-ctp-mauve", Astro.props.class]}
            href={Astro.props.href}
            target="_blank"
            rel="noopener noreferrer"
        >
            <slot />
        </a>
    ) : (
        <a class:list={["underline hover:text-ctp-mauve", Astro.props.class]} href={Astro.props.href}>
            <slot />
        </a>
    )
}
