name: Format
on:
    pull_request:
        branches: [main]
jobs:
    format:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Git Checkout
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.head_ref }}
            - name: Install pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 9
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*
                  cache: pnpm
            - name: Install Dependencies
              run: pnpm install
            - name: Biome Format
              run: pnpm exec biome format --write
            - name: Biome Lint
              run: pnpm exec biome lint --write
            - name: Biome CI
              run: pnpm exec biome ci
            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: Apply formatting changes
                  branch: ${{ github.head_ref }}
